# IDE
.idea
.vscode

# logs
logs
*.log

# config
config.yaml

# frontend
frontend/build
frontend/disk
frontend/node_modules

# os
.DS_Store
Thumbs.db

# build
/build/
/bin/
/dist/

# go workspace
go.work
go.work.sum
