# LINUX DO CDK Config
# Copy to config.yaml for runtime

# App
app:
  app_name: "linux-do-cdk"
  env: "development" # development, testing, production
  addr: ":8000"
  session_cookie_name: "linux_do_cdk_session_id" # change this in local dev env
  session_secret: "<uniq string>" # you can't change this after first time start
  session_domain: ".linux.do"
  session_age: 86400
  session_secure: false
  session_http_only: false
  api_prefix: "/api"

# projectApp
projectApp:
  hidden_threshold: 5 # project hidden threshold
  deduction_per_offense: 5 # deduction per offense
  # 0-4级创建项目频率限制
  create_project_rate_limit:
    - interval_seconds: 60
      max_count: 1
    - interval_seconds: 60
      max_count: 3
    - interval_seconds: 60
      max_count: 5
    - interval_seconds: 60
      max_count: 10
    - interval_seconds: 60
      max_count: 20

# OAuth2
oauth2:
  client_id: "<OAUTH2_CLIENT_ID>"
  client_secret: "<OAUTH2_CLIENT_SECRET>"
  redirect_uri: "<OAUTH2_REDIRECT_URI>"
  authorization_endpoint: "https://connect.linux.do/oauth2/authorize"
  token_endpoint: "https://connect.linux.do/oauth2/token"
  user_endpoint: "https://connect.linux.do/api/user"

# DB
database:
  enabled: true
  host: "127.0.0.1"
  port: 3306
  username: "root"
  password: ""
  database: "linux_do_cdk"
  max_idle_conn: 10
  max_open_conn: 100
  conn_max_lifetime: 3600
  log_level: "info"  # error, warn, info, debug, silent

# clickhouse
clickhouse:
  enabled: false
  hosts:
    - "127.0.0.1:9000"
  username: "default"
  password: ""
  database: "linux_do_cdk"
  max_idle_conn: 10
  max_open_conn: 100
  conn_max_lifetime: 3600
  dial_timeout: 5

# Redis配置
redis:
  enabled: true
  host: "127.0.0.1"
  port: 6379
  username: ""
  password: ""
  db: 0
  pool_size: 100
  min_idle_conn: 10
  dial_timeout: 5
  read_timeout: 3
  write_timeout: 3

# Log
log:
  level: "info"  # debug, info, warn, error, fatal, panic
  format: "json"  # text, json
  output: "stdout"  # stdout, file
  file_path: "./logs/app.log"
  max_size: 100
  max_age: 30
  max_backups: 10
  compress: true

# Schedule
schedule:
  user_badge_score_dispatch_interval_seconds: 1
  update_user_badges_scores_task_cron: "0 2 * * *"
  update_all_badges_task_cron: "0 1 * * *"

# Worker
worker:
  concurrency: 50

# linuxDo
linuxDo:
  api_key: "<LINUX_DO_API_KEY>"
